<div class="container mt-3">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Pol</th>
          <th>Telefon</th>
          <th>Datum rođenja</th>
          <th>Mesto rođenja</th>
          <th>Prosečna dužina angažmana</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trener of treneri">
          <td>{{ trener.id }}</td>
          <td>{{ trener.ime }}</td>
          <td>{{ trener.prezime }}</td>
          <td>{{ trener.pol }}</td>
          <td>{{ trener.telefon }}</td>
          <td>{{ trener.datumRodjenja | date : "mediumDate" }}</td>
          <td>{{ trener.mestoRodjenja }}</td>
          <td appProsecnaDuzina [trenerId]="trener.id"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
